Django==1.8.2
pinax-theme-bootstrap==5.7.5
django-bootstrap-form==3.2
pinax-blog==4.1.5
pytz==2015.4

requests==2.7.0
django-taggit==0.14.0
Markdown==2.6.2
Pillow==2.8.2

# hosting
gondor==1.2.5
gunicorn==19.3.0
psycopg2==2.6
opbeat==2.1.1
