Django==1.9.11

dj-database-url==0.4.1
django-bootstrap-form==3.2.1
django-taggit==0.18.0
django_gapc_storage==0.2.1
gunicorn==19.6.0
Markdown==2.6.7
metron==1.3.7
opbeat==3.5.1
Pillow==3.4.2
pinax-blog==5.0.2
pinax-pages==0.4.2
pinax-theme-bootstrap==7.11.0
psycopg2==2.7.6.1
pytz==2016.7
requests==2.12.1
whitenoise==3.2.2

# @@@ pin reversion until we update pinax-blog
django-reversion==2.0.10
