{% extends "pinax/blog/blog_base.html" %}

{% load pinax_blog_tags %}

{% block head_title %}{{ SITE_NAME }}{% endblock %}

{% block content %}
    {% if posts %}
        <ul class="hr-nav hidden-xs">
            {% blog_sections as sections %}
            {% for section in sections %}
                {% if section.0 == "all" %}
                    {% url "blog" as section_url %}
                {% else %}
                    {% url "blog_section" section.0 as section_url %}
                {% endif %}
                <li class="{% if section_slug == section.0 %}active{% else %}{% if not section_slug and section.0 == "all" %}active{% endif %}{% endif %}">
                    <a href="{{ section_url }}">{{ section.1 }}</a>
                </li>
            {% endfor %}
        </ul>

        <article class="hr-nav-mobile visible-xs">
            <div class="dropdown">
                View posts:
                {% for section in sections %}
                    {% if section_slug == section.0 %}
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            {{ section.1 }}
                            <span class="caret"></span>
                        </button>
                    {% else %}
                        {% if not section_slug and section.0 == "all" %}
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                All
                                <span class="caret"></span>
                            </button>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <ul class="dropdown-menu" role="menu">
                    {% for section in sections %}
                        {% if section.0 == "all" %}
                            {% url "blog" as section_url %}
                        {% else %}
                            {% url "blog_section" section.0 as section_url %}
                        {% endif %}
                        <li class="{% if section_slug == section.0 %}active{% else %}{% if not section_slug and section.0 == "all" %}active{% endif %}{% endif %}">
                            <a href="{{ section_url }}">{{ section.1 }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </article>
        <div class="post-list">
            {% for post in posts %}
                <div class="post">
                    <header class="header-entry">
                        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                        {% include "pinax/blog/dateline.html" %}
                        <div class="teaser">{{ post.teaser_html|safe }}</div>
                        <p class="more"><a href="{{ post.get_absolute_url }}" class="post-link">read more...</a></p>
                    </header>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="alert alert-info lead">No blog posts have been published.</p>
    {% endif %}
{% endblock %}
