{% extends "pinax/blog/blog_base.html" %}

{% block head_title %}{{ SITE_NAME }}{% endblock %}

{% block content %}
    {% if post_list %}
        <div class="post-list">
            {% for post in post_list %}
                <div class="post">
                    <header class="header-entry">
                        <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                        {% include "pinax/blog/dateline.html" %}
                        <div class="teaser">{{ post.teaser_html|safe }}</div>
                        <p class="more"><a href="{{ post.get_absolute_url }}" class="post-link">read more...</a></p>
                    </header>
                </div>
            {% endfor %}
        </div>
        {% include "pagination/builtin_pagination.html" %}
    {% else %}
        <section>
            No results found.
        </section>
    {% endif %}
{% endblock %}
