{% extends "site_base.html" %}

{% load staticfiles %}
{% load pinax_blog_tags %}

{% block body_class %}blog{% endblock %}

{% block body %}
    {% block sidebar %}
        <aside class="cover">
            <div class="cover-inner clearfix animated fadeInLeft">
                <div class="logo">
                    <a href="{% url "pinax_blog:blog" %}">
                        <img src="{% static "images/pinax.svg" %}" />
                    </a>
                </div>

                <p>
                    <a href="https://twitter.com/pinaxproject" class="twitter-follow-button">Follow @pinaxproject</a>
                </p>

                <p>
                    <script async defer src="http://slack.pinaxproject.com/slackin.js"></script>
                </p>

                <div class="page-info">
                    <p>Pinax is an open-source platform of apps, starter projects, and themes, built on the Django Web Framework.</p>
                    <p>It takes care of the things that many sites have in common so you can focus on what makes your site different.</p>
                </div>

                <div class="search">
                    {% if section_slug %}
                        {% url "pinax_blog:blog_section" section_slug as search_url %}
                    {% else %}
                        {% url "pinax_blog:blog" as search_url %}
                    {% endif %}

                    <form class="form-search" action="{{ search_url }}">
                        <label><i class="fa fa-search"></i></label>
                        <input class="form-control" type="search" placeholder="Search..." name="q" value="{{ search_term|default:"" }}">
                    </form>
                </div>
            </div>
        </aside>
    {% endblock %}

    <section class="content-wrap">
        <section class="content-details">
            <ul class="hr-nav hidden-xs">
                <li class="{% if current_section == "all" %}active{% endif %}">
                    <a href="{% url "pinax_blog:blog" %}">All</a>
                </li>
                {% blog_sections as sections %}
                {% for section in sections %}
                    <li class="{% if current_section == section %}active{% endif %}">
                        <a href="{% url "pinax_blog:blog_section" section.slug %}">{{ section.name }}</a>
                    </li>
                {% endfor %}
            </ul>

            <article class="hr-nav-mobile visible-xs">
                <div class="dropdown">
                    View posts:
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if current_section == "all" %}
                                All
                            {% else %}
                                {% for section in sections %}
                                    {% if current_section == section %}{{ section.name }}{% endif %}
                                {% endfor %}
                            {% endif %}
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li class="{% if current_section == "all" %}active{% endif %}">
                                <a href="{% url "pinax_blog:blog" %}">All</a>
                            </li>
                            {% for section in sections %}
                                <li class="{% if current_section == section %}active{% endif %}">
                                    <a href="{% url "pinax_blog:blog_section" section.slug %}">{{ section.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </article>
            {% block content %}{% endblock %}
        </section>
    </section>
{% endblock %}
