{% extends "site_base.html" %}

{% load staticfiles %}

{% block body_class %}blog{% endblock %}


{% block body %}
    {% block sidebar %}
        <aside class="cover">
            <div class="cover-inner clearfix animated fadeInLeft">
                <div class="logo">
                    <a href="{% url "blog" %}">
                        <img src="{% static "img/pinax.svg" %}" />
                    </a>
                </div>

                <div class="page-info">
                    <p>Pinax is an open-source platform of apps, starter projects, and themes, built on the Django Web Framework.</p>
                    <p>It takes care of the things that many sites have in common so you can focus on what makes your site different.</p>
                </div>
            </div>
            <div class="bg-overlay"></div>
        </aside>
    {% endblock %}

    <section class="content-wrap">
        <section class="content-details">
            {% block content %}{% endblock %}
        </section>
    </section>
{% endblock %}