{% extends "pinax/blog/blog_base.html" %}

{% load ppb_tags %}

{% block head_title %}{{ post.title }} &mdash; {{ SITE_NAME }}{% endblock %}

{% block extra_head %}
    {{ block.super }}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/62846141/pinaxproject_avatar.png">
    <meta property="og:title" content="{{ post.title }}">
    {% if post.description %}
        <meta name="description" content="{{ post.description }}">
        <meta property="og:description" content="{{ post.description }}">
    {% else %}
        <meta name="description" content="{{ post.teaser_html|striptags }}">
        <meta property="og:description" content="{{ post.teaser_html|striptags }}">
    {% endif %}
    {% if post.primary_image %}
        <meta property="og:image" content="http://{{ SITE_DOMAIN }}{{ post.primary_image.image_path.url }}">
    {% else %}
        <meta property="og:image" content="https://pbs.twimg.com/profile_images/62846141/pinaxproject_avatar.png">
    {% endif %}
    <meta property="og:url" content="http://{{ SITE_DOMAIN }}{{ post.get_absolute_url }}">
    <meta property="og:type" content="article">
{% endblock %}

{% block content %}
    <div class="see-all-posts"><a href="{% url 'blog' %}"><i class="fa fa-align-justify"></i> See all posts</a></div>
    <div class="post-detail">
        <div class="post">
            <header class="header-entry">
                <h2>{{ post.title }}</h2>
                {% include "pinax/blog/dateline_stale.html" %}
                <div class="teaser">{{ post.teaser_html|safe }}</div>
            </header>

            <div class="content">{{ post.content_html|safe }}</div>

            <div class="twitter-button">
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="">Tweet</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>

    <section class="related-posts">
        <h3>Tags</h3>
        {% for tag in post.tags.all %}<span class="tag">{{ tag }}</span>{% endfor %}

        <h3>Related Posts</h3>
        <article>
            <ul class="list-unstyled">
                {% related_posts post as posts %}
                {% for related in posts %}
                    <li>
                        <a href="{{ related.get_absolute_url }}">{{ related.title }}</a>
                        <br />
                        <small class="text-muted">{{ related.published }}</small>
                    </li>
                {% endfor %}
            </ul>
        </article>
    </section>
{% endblock %}
