{% extends "theme_bootstrap/base.html" %}

{% load staticfiles %}
{% load i18n %}
{% load metron_tags %}

{# remove to bring back topbar #}
{% block topbar_base %}{% endblock %}


{% block styles %}
    {% include "_styles.html" %}
{% endblock %}


{% block extra_head_base %}
    {% block extra_head %}
        {{ block.super }}
        <meta name="twitter:site" content="@pinaxproject">
        <meta property="og:site_name" content="The Pinax Blog">
    {% endblock %}
{% endblock %}

{% block body_base %}
    {% block body %}{% endblock %}
{% endblock %}

{% block footer_base %}{% endblock %}

{% block scripts %}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    {% include "_scripts.html" %}
{% endblock %}

{% block extra_body_base %}
    {% analytics %}
    {% block extra_body %}{% endblock %}
{% endblock %}
